.body{
    background-color: 	#b17de6;
}

.titulo{
    text-align: center;
    padding-top: 15px;
}



.input{
    text-align: center;
   margin-right: 250px;
   margin-left: 250px;
   padding-bottom: 15px;
}