.body6{
    background-color: #b17de6;
    margin-top: 10px;
}

.titulo6{
    text-align: center;
    padding-top: 15px;
}



.input6{
    text-align: center;
   margin-right: 250px;
   margin-left: 250px;
   padding-bottom: 15px;
}